.boxForm{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 250px;
}
.form form  div{
    width: 100%;
    margin: 5px!important;
}
#fullWidth{
    width: 100%;
}
